body {
    font-family: Arial, sans-serif;    
    margin: 0;
    padding: 0; 
    background-image: url('https://img.freepik.com/free-photo/technological-futuristic-holograms-logistics-means-transport_23-2151663049.jpg?semt=ais_hybrid'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}


header {
    background-color: #5f4848;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    padding-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #4CAF50;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #333;

}
.intro{
    color: rgb(238, 223, 11);
    border-radius: 0%;
    margin-top: 200px;
    margin-left: 180px;
}
.intro img{
    width: 150px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 150px;
    left: 3px;
    display: flex;
}


.pack {
    text-align: center;
    margin-top: 20px;
  }
  
  .pack button {
    padding: 10px 20px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pack button:hover {
    background-color: #45a049; 
  }